[user]
  name = Name
  email = email@domain.com
  signingkey = 124657899123

[core]
  editor = code --wait
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true

[merge]
  conflictstyle = diff3

[commit]
        gpgsign = true
[tag]
        gpgSign = true