[user]
  name = Name
  email = email@domain.com

[core]
  editor = code --wait
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true

[merge]
  conflictstyle = diff3
