[user]
  name = Name
  email = email@protonmail.com
	signingkey = KEY_ID

[core]
  editor = code --wait
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true

[merge]
  conflictstyle = diff3

[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	program = gpg
